<!-- <mat-toolbar color="primary" class="toolbar" >
    <nav class="toolbar__menu">
      <ul class="menu-bar">
        <li>

            <button mat-icon-button class="toolbar__menu__icon favorite-icon" aria-label="Home option">
              <mat-icon>home</mat-icon>
            </button>
            <a href="#" routerLink="/home" routerLinkActive="active" class="toolbar__menu__text">
              <span >Home</span>
            </a>

        </li>
        <li>
          <button mat-icon-button class="toolbar__menu__icon" aria-label="Board option">
            <mat-icon>note</mat-icon>
          </button>
          <a href="#" routerLink="/board" routerLinkActive="active" class="toolbar__menu__text"><span>
            Tablero</span>
          </a>
        </li>
        <li>
          <button mat-icon-button class="toolbar__menu__icon favorite-icon" aria-label="Crud option">
            <mat-icon>account_circle</mat-icon>
          </button>
          <a href="#" routerLink="/crud" routerLinkActive="active" class="toolbar__menu__text">
            <span >CRUD</span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-toolbar> -->
  <form class="container"  novalidate [formGroup]="form" (ngSubmit)="ingresar()">
    <div class="inputsDiv">
      <h1>Register form</h1>
      <span class="fillSpan">Fill out this form</span>
        <!-- Email ADDRESS input -->
        <div class="text-start">
          <div class="row">
            <div class="col">
              <div class="mb-3" style="text-align: start;">
                <label for="exampleInputEmail1" class="form-label text-start">Nombres</label>
                <input #inputFirstName  type="text" class="form-control"  aria-describedby="emailHelp"
                (blur)="onChangesInputField()" required formControlName="firstName"
                placeholder="Ingrese nombres"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='Ingrese nombres'">
              </div>
            </div>
            <div class="col">
              <div class="mb-3" style="text-align: start;">
                <label for="exampleInputEmail1" class="form-label text-start">Apellidos</label>
                <input #inputLastName  type="text" class="form-control"  aria-describedby="emailHelp"
                (blur)="onChangesInputField()" required formControlName="lastName"
                placeholder="Ingrese apellidos"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='Ingrese apellidos'">
              </div>
            </div>
          </div>
        </div>

        <!-- EMAIL PICK 💌 -->
        <div class="mb-3" style="text-align: start;">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input #inputEmail type="email" class="form-control"
          (blur)="onChangesInputField()" required formControlName="email"
          placeholder="Ingrese correo"
          onfocus="this.placeholder=''"
          onblur="this.placeholder='Ingrese correo'">
        </div>


        <label class="labelCalendar" for="dateofbirth">Date Of Birth</label>
        <input class="inputCalendar" type="date" name="dateofbirth" id="dateofbirth" formControlName="date">

        <div class="mb-3" style="text-align: start;">
          <label for="exampleFormControlInput1" class="form-label">Nombre de usuario</label>
          <input #inputUser  class="form-control"
          (keyup)="onChangesUserField()" required formControlName="user"
          placeholder="Ingrese usuario" required
          onfocus="this.placeholder=''"
          onblur="this.placeholder='Ingrese usuario'">
        </div>
          <div #userValidation [ngClass]="updateClassUserField(inputUser.value)" class="" hidden>
            <label  *ngIf="this.form.get('user')?.errors?.['required']">
              Ingrese Usuario
            </label>
                <ng-container *ngIf="this.form.get('user')?.errors?.['minlength']; then loggedIn; else loggedOut">
                </ng-container>
                <ng-template #loggedIn>
                    <label >
                      Debe tener como mínimo 6 caracteres
                    </label>
                </ng-template>
                <ng-template #loggedOut>
                  <div>
                    Correcto ✌
                  </div>
                </ng-template>
          </div>

          <div class="mb-3" style="text-align: start;">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <div class="input-group mb-3" style="align-items: center;">

            <input #inputPassword (keyup)="onChangesPasswordField()" required class="form-control"
            type="password" autocomplete="on"
            matInput [type]="hide ? 'password' : 'text'"
            (keyup)="onChangesUserField()"  formControlName="password"
            placeholder="Ingrese contraseña" required
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Ingrese contraseña'">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="padding: inherit;">
              <a style="margin: -9px;" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </a>
            </button>
          </div>
          </div>
            <div #passwordValidation class="" hidden
              [ngClass]="updateClassPasswordField(inputPassword.value)"
            >
            <h3>La contraseña debe contener lo siguiente:</h3>
            <ul class="helpField">
              <li><span #length class="notValid"><b>Debe Contener</b> al menos 6 caracteres.</span></li>
              <li><span #lower class="notValid"><b>Debe Contener</b> letra minúscula.</span></li>
              <li><span #capital class="notValid"><b>Debe Contener </b>letra mayúscula.</span></li>
              <li><span #number class="notValid"><b>Debe Contener</b> un numero.</span></li>
              <li><span #special class="notValid"><b>Debe Contener</b> un carácter especial.</span></li>
            </ul>

              <ng-template  *ngIf="this.form.get('password')?.errors?.['passwordChecker']==true;then notValid else success">
              </ng-template>
              <ng-template #notValid>
              <label class="text-danger">(NOT VALID)</label>
              </ng-template>
              <ng-template #success>
              <label  class="text-success">(VALID)</label>
              </ng-template>
            </div>

            <!-- CONFIRM PASSWORD -->

              <div class="input-group mb-3">
                <input #inputPasswordConfirm (keyup)="onPasswordFieldConfirm()" required class="form-control"
                type="password" autocomplete="on"
                matInput [type]="hide2 ? 'password' : 'text'"
                formControlName="confirmPassword"
                placeholder="Ingrese contraseña"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='Ingrese contraseña'">
                <button class="btn btn-outline-secondary" type="button" id="button-addon3" style="padding: inherit;">
                  <a style="margin: -9px;" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                    <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </a>
                </button>
              </div>
              <!-- <p>
                errores {{this.form.errors | json }}
              </p> -->
              <!-- [ngClass]="updatePasswordFieldConfirm(inputPasswordConfirm.value)" -->
              <div #passwordConfirmValidation class="" hidden
              >
              <!-- <div *ngIf="this.form.getError('match_error')==null"></div> -->
                <div>
                  <h1>VALID ❤</h1>
                </div>
              </div>

              <!-- <div #passwordConfirmation class="" hidden
              [ngClass]="updatePasswordFieldConfirm(inputPasswordConfirm.value)">
              <ng-template  *ngIf="this.form.get('confirmPassword')?.errors?.['passwordChecker']==true;then notValid else success">
              </ng-template>
              <ng-template #notValid>
              <label class="text-danger">(NOT VALID)</label>
              </ng-template>
              <ng-template #success>
              <label  class="text-success">(VALID)</label>
              </ng-template>
              </div> -->

            <!-- END INPUTS FORM FIELDS -->
      </div>

    <div class="buttonsLogin">
      <!-- [disabled]="form.invalid" -->
      <button type="submit"  style="--clr:#f00a0a" ><span>Submit</span><i></i></button>
      <button type="button" (click)="regresar()" style="--clr:#f00a0a" ><span>Regresar</span><i></i></button>
    </div>

    <!-- <p>
      Real-time data: {{ form.value | json }}
    </p>
    <p>
      Your form status is : {{ form.status }}
    </p> -->
  </form>




