<button mat-raised-button (click)="openDialog()">Pick one</button>
<div class="content">

  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let personaje of listaFormulario">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title id="textInsideForm"> {{personaje.nombre}}</mat-card-title>
          <mat-card-subtitle id="textInsideForm">{{personaje.genero}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{personaje.image}}">
        <mat-card-content>
          <p id="textInsideForm">
            Tipo de especie: {{personaje.especie}}
          </p>
            <button type="submit" [disabled]="formulario.invalid">Modificar</button>

        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Eliminar</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>
