<div class="bodyLogin">

  <div class="login">
    <img src="../../../assets/candado.png" style="width: 50%;">
    <h1>Login</h1>

    <form  novalidate [formGroup]="form" (ngSubmit)="ingresar()">
      <div class="inputsDiv">

            <div class="inputSpan">
              <p>
              <span class="neon">
              <input #inputUser (keyup)="onChangesUserField()" required formControlName="user" type="text"
              placeholder="Usuario"
              onfocus="this.placeholder=''"
              onblur="this.placeholder='Ingrese Usuario'">
              </span>
            </p>
            <div #userValidation [ngClass]="updateClassUserField(inputUser.value)" class="" hidden>
              <label  *ngIf="this.form.get('user')?.errors?.['required']">
                Ingrese Usuario
              </label>
                  <ng-container *ngIf="this.form.get('user')?.errors?.['minlength']; then loggedIn; else loggedOut">
                  </ng-container>
                  <ng-template #loggedIn>
                      <label >
                        Debe tener como mínimo 6 caracteres
                      </label>
                  </ng-template>
                  <ng-template #loggedOut>
                    <div>
                      Please friend, login.
                    </div>
                  </ng-template>
                  <ng-template #elseBlock>Content to render when condition is false.</ng-template>
            </div>
            </div>

            <div class="inputSpan">
              <p>
              <span class="neon">
            <input required
            formControlName="password"
            matInput [type]="hide ? 'password' : 'text'"
            placeholder="Ingrese Contraseña"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Ingrese Contraseña'" type="password" autocomplete="on"
            >

            <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
              </span>
            </p>

            </div>
      </div>
      <div class="buttonsLogin">
        <button type="submit" [disabled]="form.invalid" style="--clr:#03C4A1" ><span>Iniciar Sesión</span><i></i></button>
        <button type="button" (click)="registrar()" style="--clr:#03C4A1" ><span>Registrarse</span><i></i></button>
      </div>
    </form>
  </div>
</div>
