@import './scss/button-styles.scss';
@import './scss/inputs-styles.scss';
@import './scss/background-styles.scss';

.bodyLogin{
  display: flex;
  flex-direction: column;
  min-width: 490px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 84vh;

.login{
  margin-bottom: 10vh !important;
  width: 100%;
  max-width: 450px;
  text-align: center;
  h1{
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color:rgb(255, 255, 255);
    }
  }
}
