<div class="bodyLogin">
  <div class="login">
    <img src="../../../assets/candado.png" style="width: 50%;">
    <h1>Login</h1>

    <form [formGroup]="form" (ngSubmit)="ingresar()">
      <div class="inputsP">
        <p>
          <span class="input">
            <input formControlName="usuario" type="text" placeholder="Usuario">
            <span></span>
          </span>
        </p>

        <p>
          <span class="input">
            <input formControlName="contraseña" matInput [type]="hide ? 'password' : 'text'" placeholder="Contraseña">
            <span></span>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon style="height: auto; width: auto; translate: -4px; top: 3px;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </span>
        </p>
      </div>
      <div class="buttonsLogin">
        <button type="submit" style="--clr:#03C4A1" ><span>Iniciar Sesión</span><i></i></button>
        <button style="--clr:#03C4A1" ><span>Registrarse</span><i></i></button>
      </div>

    </form>
  </div>
</div>
