<div mat-dialog-content>
  <mat-label>Nombre</mat-label>
    <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.nombre" placeholder="Ingrese el nombre">
    </mat-form-field>

    <mat-label>Genero</mat-label>
  <mat-form-field appearance="fill">
      <input matInput [(ngModel)]="data.genero" placeholder="Ingrese genero">
  </mat-form-field>

  <mat-label>Especie</mat-label>
  <mat-form-field appearance="fill">
      <mat-label>Especie</mat-label>
      <input matInput [(ngModel)]="data.especie" placeholder="Ingrese especie">
    </mat-form-field>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
