<!-- FALTA APLICAR LAZY LOADING AL BACKGROUND ❌ -->
<div #backTransition class="bodyLogin background fadeIn " style="background-image: url('{{getImageShow()}}');">
  </div>

    <div class="login" >
      <div class="bodyButton">
        <div class="all">
          <!-- <div class="lefter">
            <div class="text">Hosting</div>
          </div> -->
          <div class="left">
            <div class="text">About Us</div>
          </div>

          <div class="center">

            <div class="explainer"><span >hover me</span></div>
            <div class="text">
              <span (hover)="loginButton()">
                Login
              </span>
              <video width="400" controls>
                <source src="../../../assets/videoIntro/mandalor.mp4" type="video/mp4">
                <source src="../../../assets/videoIntro/mandalor.mp4" type="video/ogg">
                Your browser does not support HTML5 video.
              </video>
            </div>
            </div>
          <div class="right">
            <div class="text">Contact Us</div>
          </div>
          <!-- <div class="righter">
            <div class="text">SEO</div>
          </div> -->
          </div>
          <a href="https://github.com/JpdzRamirez/Angular_Proyects" target="_blank" class="ref">🔗 JpdzRamirez</a>
      </div>

      <router-outlet></router-outlet>
    </div>



  <!-- <div class="transitionsImgTimer">
      <img #imgTransition_1 [src]="getImageShow()" >
  </div> -->
