@import '../../utils/scss/button-styles.scss';
@import '../../utils/scss/inputs-styles.scss';
@import '../../utils/scss/background-styles.scss';
@import '../../utils/scss/transitions/transition-imgHover-styles.scss';
@import url('https://fonts.googleapis.com/css2?family=Donegal+One&display=swap');


.bodyLogin{
  display: flex;
  flex-direction: column;
  min-width: 490px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  min-height: 100vh;


.login{
  margin-bottom: 10vh !important;
  width: 70%;

  text-align: center;
  h1{
    font-family: 'Donegal One', serif;
    font-size: 3.6em;
    color:rgb(255, 255, 255);
    margin: 0 0px 23px 0px;
    }
  }

}



